Bases de datos\Archivos Originales Comprimidos
Bases de datos\Archivos Originales CSV

/Bases de datos/Archivos Originales Comprimidos/
/Bases de datos/Archivos Originales CSV/

\Notebooks\pruebas ML.ipynb
Notebooks\pruebas ML.ipynb